body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    overflow: hidden;
}


/* MAP CANVAS */

#map-canvas {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 1s;
}

#prof:target ~ #map-canvas,
#part:target ~ #map-canvas {
    top: calc(-50% + 100px);
}


/* HEADER */

#header {
    z-index: 3;
    position: absolute;
    height: 190px;
    width: 100%;
    top: -250px;
    transition: all 1s;
}

#logo {
    float: left;
    margin: 7px 0 7px 60px;
}

#contact {
    float: left;
    height: 190px;
    padding: 18px 3%;
}

#contact p {
    padding: 5px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background-color: #999999;
}

#back {
    position: absolute;
    left: 40px;
    top: 210px;
}

/* both */

#prof:target ~ #header,
#part:target ~ #header {
    top: 0px;
}


/* TITLE */

/* prof */

.prof.title {
    z-index: 3;
    position: absolute;
    top: 250px;
    transition: all 1s;
}

/* part */

.part.title {
    z-index: 3;
    position: absolute;
    top: 350px;
    transition:all 1s;
}

/* both */

.title {
    left: 150px;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    color: #999;
    text-shadow:
    0px 0px 55px #fff,
    0px 0px 50px #fff,
    0px 0px 45px #fff,
    0px 0px 40px #fff,
    0px 0px 35px #fff,
    0px 0px 30px #fff,
    0px 0px 25px #fff,
    0px 0px 20px #fff,
    0px 0px 15px #fff,
    0px 0px 5px #fff;
    opacity: 1;
    transition: all 1s;
}

.title:hover {
    text-shadow: 0px 0px 10px #f06;
}

#prof:target ~ #content .prof.title, #part:target ~ #content .part.title {
    top: 200px;
}


/* CONTENT */

/* reveal content while selected*/
.content {
    z-index: 2;
    padding: 70px 50px;
    position: absolute;
    top: 100%;
    bottom: 0px;
    overflow: auto;
    background: white;
    transition: all 1s;
}

#prof:target ~ #content .prof.content,
#part:target ~ #content .part.content {
    z-index: 2;
    top: 190px;
}


/* FOOTER */

#footer {
    z-index: 2;
    transition: all 1s;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 40px;
    border-bottom: solid 2px #f06;
}

#footer img {
    float: right;
}

#prof:target ~ #footer,
#part:target ~ #footer {
    bottom: -50px;
}


/* GENERAL */

/* hide everything else */
#prof:target ~ #content .part,
#part:target ~ #content .prof {
    z-index: 0;
    opacity: 0;
}
